version: 2
updates:
  - package-ecosystem: "rust-toolchain"
    directory: "/"
    schedule:
      time: "10:00"
      timezone: "Europe/Berlin"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      time: "10:00"
      timezone: "Europe/Berlin"
