version: 2
updates:
  - package-ecosystem: "rust-toolchain"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"