[notification.log]
enabled = true

[notification.gotify]
enabled = false
url = "https://gotify.kybe.xyz/message?token=<token>"

[notification.discord]
enabled = false
url = "https://discord.com/api/webhooks/.../..."

[discord_bot]
token = "DISCORD_TOKEN"

[discord_bot.translator]
enabled = false
url = "https://translate.kybe.xyz"
token = ""
