[notification.gotify]
enabled = false
url = "https://gotify.kybe.xyz/message?token=<token>"

[notification.discord]
enabled = false
url = "https://discord.com/api/webhooks/.../..."

[discord_bot]
enable = false
token = "DISCORD_TOKEN"
admin_id = "921066050009833572"

[discord_bot.translator]
enabled = false
url = "https://translate.kybe.xyz"
token = ""

[webserver]
behind_proxy = false
api_token = "CHANGE_ME"
trust_proxy_header = "X-Forwarded-For"

[webserver.umami]
script_path = "https://kybe.xyz/script.js"
id = "umami-id"

[database]
postgres_url = "postgres://postgres:password@localhost/test"
max_connections = 5

[maxmind]
city_enable = false
city = ""
asn_enable = false
asn = ""

[lastfm]
enable = false
token = ""
username = ""
interval_secs = 10

[logger]
file_logger_enabled = true
file_logger_path = "./log"

[email]
enable = false
email = "system@kybe.xyz"
password = ""
server = "mail.kybe.xyz"
port = 587
